{% extends 'passbase.html' %}

{% load static %}
{% block content %}

<div class="container-fluid bg-info p-2 text-center">
    <img src="{% static 'image/clarky.png' %}" width="150px">
    <h3 style="margin-top: -42px;">Build. Test. Repeat.</h3>
    <div>
        
               
            </div>

        </div>
    
    <div class="container bg-warning w-25">
        {% if not_user %}
        <h6 class="p-2">{{not_user}}!</h6>
        {% endif %}
    </div>
</div>

<div class="container text-center">
<form class="form-group p-2 text-center" method="POST">
    {% csrf_token %}
    <!-- <i class="fa fa-user" aria-hidden="true"
        style="background-color: white; width:35px; padding: 12px;"></i> -->
    <input type="text" name="username"  class="form-control form-control-sm w-25 mb-2" placeholder="your username" required>
    <!-- <i class="fa fa-key" aria-hidden="true"
        style="background-color: white; width:35px; padding: 12px;"></i> -->
    <input type="password" name="password"  class="form-control form-control-sm w-25 mb-2" placeholder="Enter your password" required>
    <button type="submit" class="btn btn-success btn-sm"> Log in </button><br><br>
    <div class="d-inline">
    <button class="btn btn-dark btn-sm"><a href="{% url 'register' %}"> Get Authentication? </a></button>
    <button class="btn btn-dark btn-sm"><a href="{% url 'register' %}"> Forgot Password? </a></button>
</div>
</form>
</div>
{% endblock %}