{% extends 'passbase.html' %}

{% load static %}
{% block content %}
<div class="container-fluid text-center login desktop">
<div class="w-100 d-2">
    <img src="{% static 'NGOs logo/stphohlogo.png' %}" class="p-2 m-1" width=100px>

    <div class="container shadow bg-white text-center py-3 px-2 w-25">
        {% if not_user %}
        <p class="text-center text-danger">{{not_user}}!</p>
        {% endif %}
        {% if user %}
        <p class="text-center text-danger">{{grant}}</p>
        {% endif %}
        <form class="form-group py-3 px-2" method="POST">
            {% csrf_token %}
            <!-- <i class="fa fa-user" aria-hidden="true"
                style="background-color: white; width:35px; padding: 12px;"></i> -->
            <input type="text" name="username" class="form-control form-control-sm m-2" placeholder="your username"
                required>
               
            <!-- <i class="fa fa-key" aria-hidden="true"
                style="background-color: white; width:35px; padding: 12px;"></i> -->
            <input type="password" name="password" class="form-control form-control-sm m-2"
                placeholder="enter your password" required>
            <button type="submit" class="btn btn-success shadow btn-sm"> Log in </button>      
        </form>
        <div class="d-inline">
            <a href="{% url 'register' %}"><button class="btn btn-dark btn-sm mt-2"> Get Authentication?</button> </a>
            <a href="{% url 'register' %}"> <button class="btn btn-dark btn-sm mt-2">Forgot Password? </button></a>
        </div>
    </div>
</div>
</div>

<div class="container-fluid text-center mobile">
    <img src="{% static 'NGOs logo/stphohlogo.png' %}" class="p-2 m-1" width=100px>

    <div class="container shadow bg-white text-center py-3 px-2">
        {% if not_user %}
        <p class="text-center text-danger">{{not_user}}!</p>
        {% endif %}
        <form class="form-group py-3 px-2" method="POST">
            {% csrf_token %}
            <!-- <i class="fa fa-user" aria-hidden="true"
                style="background-color: white; width:35px; padding: 12px;"></i> -->
            <input type="text" name="username" class="form-control form-control-sm m-2" placeholder="your username"
                required>
               
            <!-- <i class="fa fa-key" aria-hidden="true"
                style="background-color: white; width:35px; padding: 12px;"></i> -->
            <input type="password" name="password" class="form-control form-control-sm m-2"
                placeholder="enter your password" required>
            <button type="submit" class="btn btn-success btn-sm"> Log in </button>      
        </form>
        <div class="d-inline">
            <a href="{% url 'register' %}"><button class="btn btn-dark btn-sm"> Get Authentication?</button> </a>
            <a href="{% url 'register' %}"> <button class="btn btn-dark btn-sm">Forgot Password? </button></a>
        </div>
    </div>
    


</div>
{% endblock %}