{% extends "uibase.html" %}
{% block content %}

<div class="container-fluid w-100">
    <h2 class="text-center">Saint Peregrine Project Records</h2>
    <div class="container bg-white p-2 m-2">
        <form class="form-group p-2" method="POST">
            {% csrf_token %}
            <h6>Creat Project Folder</h6>
            <input type="text" name="foldername" class="form-control form-control-sm w-50"
                placeholder="ex. stphoh2021 or hoh2021" required><br>
            <button class="btn btn-dark btn-sm mt-2">Create</button>
        </form>
    </div>
    <div class="container text-center">
        <div class="d-flex folder">
            {% if folder %}
            {% for folders in folder %}

            <div class="card shadow w-25 desktop m-2 pt-5 p-4 ">
                <span class="trash"><button data-bs-toggle="modal" data-bs-target="#createfolder" class="btn btn-dark btn-sm"><i class="fas fa-trash"></i></button></span>
                <h5>{{folders.name}}</h5>
                <span class="bg-info p-2 shadow"><a href="{{folders.id}}"><button
                            class="btn btn-dark btn-sm">Open</button></a></span>
            </div>
            <div class="card shadow w-100 md-4 mobile m-2 mb-5 pt-5">
                <span class="trash"><button data-bs-toggle="modal" data-bs-target="#createfolder" class="btn btn-dark btn-sm"><i class="fas fa-trash"></i></button></span>
                <h5>{{folders.name}}</h5>
                <span class="bg-info p-2 shadow"><a href="{{folders.id}}"><button
                            class="btn btn-dark btn-sm">Open</button></a></span>
            </div>

            {% endfor %}

            {% else %}
            <div class="container">
                <h6>Nothing here</h6>
            </div>
            {% endif %}

        </div>
    </div>

</div>


<div class="modal fade" id="createfolder" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
    aria-hidden="true">
    <div class="modal-dialog bg-white p-2 shadow">
        <div class="container bg-white p-2 m-2">
            <div class="modal-content">
                <div class="modal-body">
                  
                        <h6 class="danger">Danger Zone</h6>
                     
                        <button class="btn btn-danger btn-sm">Delete</button>
                   
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}