{% load static %}
<html>
<head>
   
    {% block title %}<title></title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--bootsrap cdn-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    
    <!-- font-awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" type="text/css">
    <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    
</head>
<body class="bg-white">

    {% block content %}

    {% endblock %}
    
    <div class="container-fluid  bg-white text-center p-3">
        <h6> Clarky Office - STPHOH Adminsite 2021</h6>
    </div>
</body>
</html>
