{% extends 'uibase.html' %}
{% load static %}

{% block content %}

<div class="container static text-center"><b>{{result.name}}</b> Folder</div><hr><br>

<div class="container text-center">
    <img src="static/nothinghere.png">
   <h6> Nothing here! ! </h6><br><br>
   <a href="/openfiles"> <button class="btn btn-success btn-sm shadow"><i class="fas fa-arrow-left"></i></button></a>
   <button data-bs-toggle="modal" data-bs-target="#createfolder"
        class="btn btn-dark btn-sm shadow"><i class="fas fa-folder-open"></i></button>
        <a href="/delete/{{result.id}}"> <button class="btn btn-danger btn-sm shadow"><i class="fas fa-trash"></i></button></a>
        
</div>


{% endblock %}