{% extends 'passbase.html' %}
{% load static %}
{% block content %}
<div class="container-fluid bg-info p-2 shadow text-center">

    <h3 class="text-white">Build. Test. Repeat.</h3>
    <div>

        <div class="container text-center w-100">

            <form method="POST" class="form-group p-3">
                {% csrf_token %}
                <input type="text" class="form-control form-control-sm mb-2" name="first" placeholder="your first name"
                    required>
                <input type="text" class="form-control form-control-sm mb-2" name="last" placeholder="your last name"
                    required>
                <input type="email" class="form-control form-control-sm mb-2" name="email" placeholder="your email"
                    required>
                <input type="password" name="password1" class="form-control form-control-sm mb-2"
                    placeholder="choose a password" required>
                <input type="password" name="password2" class="form-control form-control-sm mb-2"
                    placeholder="comfirm password" required>
                <input type="password" name="accesscode" class="form-control form-control-sm mb-2"
                    placeholder="accesscode" required>
                <button type="submit" class="btn btn-success btn-sm"> Register </button>

            </form>
            <div class="d-inline">
                <a href="{% url 'login' %}"> <button class="btn btn-dark btn-sm">Authenticated?</button> </a>
                <a href="{% url 'register' %}"> <button class="btn btn-dark btn-sm">Privacy Statement</button></a>
            </div>
        </div>
    </div>

</div>
<div class="container text-center p-3 text-danger">
    {% if password_error %}
    <h5 class="error m-2">{{password_error}}</h5>
    {% endif %}

    {% if error %}
    <h5 class="error m-2">{{error}}</h5>
    {% endif %}

    {% if short_error %}
    <h5 class="error m-2">{{short_error}}</h5>
    {% endif %}

    {% if user_error %}
    <h5 class="error m-2">{{user_error}}</h5>

    {% endif %}

    {%for userr in userrss %}
    <li>{{userr.username}}</li>
    {% endfor %}

    {% if access_error %}
    <h5 class="error m-2">{{access_error}}</h5>
    {% endif %}
</div>
<div class="container text-center bg-white shadow p-2">
    <h6 class="mb-2"> When you register your userame will be generated here </h6>
    {% if generatedusername %}
    <h6>Your username is </h6><br>
    <span class="shadow p-3 m-2 bg-success text-white"> {{generatedusername}} </span><br>
    <h6 class="mt-4">you can now login with your username and password </h6>
    <a href="{% url 'login' %}">  <button class="btn btn-dark btn-sm">Proceed </button></a>
    {% endif %}
</div>


{% endblock %}